body {
	/*background: #A6D6DD;*/
	background: #27282A;
}
h1 {
    font-family: "Helvetica", sans-serif;
    font-size: 50px;
	color: white;
	padding-left:20px;
	padding-right:20px;
}
h2
{
    font-family: "Helvetica", sans-serif;
    font-size: 38px;
	font-weight: normal;
	color: #D2DCE3;
	margin: 0px;
	padding: 0px;
}
p
{
	font-family: "Helvetica", sans-serif;
    font-size: 42px;
	color: white;
}
label
{
  font-family: "Helvetica", sans-serif;
  font-size: 38px;
  color: white;
}
.progressBar {
    content: "";
    height: 5px; 
	width: 2vw;
	background-color: yellow;
    display: block;
	visibility: hidden;
}
.picButton {
	box-shadow:inset 8px -10px 5px #F7CE74;
	background-color: #FFE09C;
	border-radius:10px;
	border:1px solid black;
	display:inline-block;
	color:black;
	font-family:Arial;
	font-size: 50px;
	font-weight: bold;
	width: 200px;
	height: 70px;
	text-decoration:none;
	/*
	background-size:28vh;
	background-repeat: no-repeat;
	background-position: 20px 10px;
	*/
	margin-top: 5px;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
	text-align: middle;
	outline: none;
}
.quitButton {
	box-shadow:inset 8px -10px 5px #898D88;
	background-color: #BCC1BA;
	border-radius:35px;
	border:1px solid black;
	display:inline-block;
	color:black;
	font-family:Arial;
	font-size: 50px;
	font-weight: bold;
	width: 70px;
	height: 70px;
	text-decoration:none;
	/*
	background-size:28vh;
	background-repeat: no-repeat;
	background-position: 20px 10px;
	*/
	margin-top: 5px;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
	text-align: middle;
	outline: none;
}
.largePicButton {
	box-shadow:inset 8px -10px 5px #028090;
	background-color: #0BA2BA;
	border-radius:16px;
	border:1px solid black;
	display:inline-block;
	color:white;
	font-family:Arial;
	font-size: 50px;
	font-weight: bold;
	width: 94vw;
	height: 23vh;
	text-decoration:none;
	background-size: auto 90px;
	background-repeat: no-repeat;
	background-position: 28px 3px;
	padding-left: 25vh;
	margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: left;
	outline: none;
}
.logoButton {
	box-shadow:inset 8px -10px 5px #C5C3C6;
	background-color: #DCDCDD;
	border-radius:30px;
	border:1px solid black;
	display:inline-block;
	width: 80vw;
	height: 60vh;
	background-size: 94% auto;
	background-repeat: no-repeat;
	background-position: center; 
}
.page {
	display: none;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: space-between;   /* center items vertically, in this case */
    align-items: flex-start;        
    height: 78vh;
	padding: 0px;
	margin: 0px;
}
.row-left {
	display: flex;              /* establish flex container */
    flex-direction: row;     /* stack flex items vertically */
    justify-content: flex-start;   /* center items vertically, in this case */
    align-items: center;    
}
.row {
	display: flex;              /* establish flex container */
    flex-direction: row;     /* stack flex items vertically */
    justify-content: space-between;   /* center items vertically, in this case */
    align-items: center;    
}
/* The container */
.container {
  display: block;
  position: relative;
  font-family: "Helvetica", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width:80px; 
  height:62px;
  flex: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  /*cursor: pointer;*/
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
  color: #2196F3;
  font-size: 50px;
  text-align: center;
  line-height: 1.2;
  background-color: #eee;
  border-radius: 50%;
  	box-shadow:inset 1px -1px 2px #808080;
	border:1px solid #696969;
}

/* When the radio button is checked, add a colored background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 15px;
	left: 15px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: white;
}