.picButton {
	box-shadow:inset 6px -8px 4px #0070f1;
	background-color: #33A3FF;
}
.largeButton {
	box-shadow:inset 8px -10px 5px #0070f1;
	background-color: #33A3FF;
}
.hintButton {
	box-shadow:inset 8px -10px 5px #A10014;
	background-color: #ed1a60;
}	
.greyButton {
	box-shadow:inset 8px -10px 5px #C0BEB9;
	background-color: #D7D4CF;
}