body {
	background: #1E1B18;
}
h1
{
    font-size: 42px;
	font-family: "Helvetica", sans-serif;
	margin-top: 0;
	color: white;
	
}
.introButton {
	-moz-box-shadow:inset 8px -10px 5px #b8b8b9;
	-webkit-box-shadow:inset 8px -10px 5px #b8b8b9;
	box-shadow:inset 8px -10px 5px #b8b8b9;
	background-color:#e8e8ee;
	
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;	
	border:1px solid black;
	
	outline: none;
	
	display:inline-block;
	width: 48vw;
	height: 26vh;
	
	color:white;
	font-family:Arial;
	font-size:52px;
	font-weight: bold;
	text-decoration:none;
	text-align: center;
	
	margin-top: 0px;
	margin-bottom: 3px;
	margin-left: 2px;
	margin-right: 2px;
}