.picButton {
	box-shadow:inset 6px -8px 4px #960000;
	background-color: #fc4f4f;
}
.largeButton {
	box-shadow:inset 8px -10px 5px #960000;
	background-color: #fc4f4f;
}
.hintButton {
	box-shadow:inset 8px -10px 5px #004A85;
	background-color: #3396d1;
}	
.greyButton {
	box-shadow:inset 8px -10px 5px #C0BEB9;
	background-color: #D7D4CF;
}