body {
	background: #1E1B18;
	font-family: "Helvetica", sans-serif;
	color: white;
	font-size: 30px;
}
.progressBar {
    content: "";
    height: 10px; 
	width: 3vw;
	background-color: yellow;
    display: block;
}
h1 {
    font-size: 54px;
	margin-top: 0.2em;
	margin-bottom: 0.3em;
}
h2
{
    font-size: 42px;
	font-weight: normal;
	margin-top: 0;
}
p {
    font-size: 42px;
	text-align: center;
	margin-top: 0.2em;
	margin-bottom: 0;
}
label
{
    font-size: 32px;
	color: white;
}
.p2 {
	margin-bottom: 0;
	margin-top: 0.4em;
}
form
{
    font-size: 32px;
}
input
{
	color: black;
	font-size: 30px;
}
.userInput
{
	width: 96vw;
	font-size: 30px;
	rows: "2";
}
.picButton {
	box-shadow:inset 6px -8px 4px #155A00;
	background-color: #61a60e;
	border-radius:10px;
	border:1px solid black;
	display:inline-block;
	color:white;
	font-family:Arial;
	font-size: 48px;
	font-weight: bold;
	width: 160px;
	height: 70px;
	text-decoration:none;
	text-align: middle;
	outline: none;
	flex-shrink: 0;
}
.quitButton {
	box-shadow:inset 2px -3px 2px #867e70;
	background-color: #D7D4CF;
	color:#70695e;
	border-radius:20px;
	border:1px solid black;
	display:inline-block;
	font-family:Arial;
	font-size: 32px;
	line-height: 1.3em;
	font-weight: bold;
	width: 40px;
	height: 40px;
	text-decoration:none;
	text-align: center;
	outline: none;
	flex-shrink: 0;
}
.largeButton {
	box-shadow:inset 8px -10px 5px #155A00;
	background-color: #61a60e;
	border-radius:10px;
	border:1px solid black;
	display:inline-block;
	color:white;
	font-family:Arial;
	font-size: 56px;
	font-weight: bold;
	width: 250px;
	height: 90px;
	text-decoration:none;
	text-align: middle;
	margin: 10px;
	outline: none;
	flex-shrink: 0;
	/*visibility: hidden;*/
}
.greyButton {
	box-shadow:inset 8px -10px 5px #70695e !important;
	background-color: #D7D4CF !important;
	color:#70695e;
}
.wideButton{
	width: 200px;
}
.hintButton {
	box-shadow:inset 8px -10px 5px #0072C2;
	background-color: #19a5f5;
	border-radius:20px;
	border:1px solid black;
	display:inline-block;
	color:black;
	font-family:Arial;
	font-size: 32px;
	font-weight: bold;
	width: 40px;
	height: 40px;
	text-decoration:none;
	text-align: middle;
	outline: none;
	flex-shrink: 0;
}	
.page {
	display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: space-around;   /* center items vertically, in this case */
    align-items: stretch;        /* center items horizontally, in this case */
    height: 40vh;
	border:none;
	padding-left: 12px;
	padding-right: 12px;
	display: none;
}
.headerPage {
	flex-direction: column;
    justify-content: space-between;   /* center items vertically, in this case */
    align-items: center;        /* center items horizontally, in this case */
    height: 92vh;
}
.fullPage {
    justify-content: flex-start;      /* center items vertically, in this case */
    align-items: stretch;         /* center items horizontally, in this case */
    height: 92vh;
}
.row {
	display: flex;              /* establish flex container */
    flex-direction: row;     
    justify-content: space-between;    
	align-items: center;
	border:none;
	padding: none;
}
.leftrow {
	display: flex;              /* establish flex container */
    flex-direction: row;     
    justify-content: flex-start;    
	align-items: center;
	border:none;
	padding-top: 5px;
	font-family: "Helvetica", sans-serif;
    font-size: 32px;
	color: white;
}
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 65px;
  margin-bottom: 33px;
  font-family: "Helvetica", sans-serif;
  font-size: 42px;
  font-weight: normal;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  color: #2196F3;
  font-size: 40px;
  text-align: center;
  line-height: 1.2;
  background-color: #eee;
  border-radius: 50%;
  	box-shadow:inset 1px -1px 2px #808080;
	border:1px solid #696969;
}

/* When the radio button is checked, add a colored background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 15px;
	left: 15px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: white;
}
/* Create a custom checkbox */
.checkmark2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark2 {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark2:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark2:after {
  left: 14px;
  top: 2px;
  width: 16px;
  height: 30px;
  border: solid white;
  border-width: 0 6px 6px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.aloud {
	display: none;
}
firstName {
    font-family: "Helvetica", sans-serif;
    font-size: 32px;
	color: #D2DCE3;
}
problemName {
	display: none;
}
/* The Modal (background) */
.hint {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 40px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.hint-content {
  background-color: #696969;
  margin: auto;
  padding: 20px;
  border: 1px solid #808080;
  width: 90%;
}
.hint-content2 {
  background-color: #696969;
  margin: auto;
  padding: 20px;
  border: 3px solid white;
  border-radius: 10px;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 80px;
  font-weight: bold;
}
		.drinkLabel {
			color: black;
			font-size: 30px;
			text-align: center;
			margin-top: 0.2em;
			margin-bottom: 0;
		}
		.au-introduction {
			text-align: center;
			font-size: 38px;
			color: black;
		}
		.text--minor {
			text-align: center;
			font-size: 20px;
			color: black;
		}

