body {
    background: #FFC932;
}
#canvas {
    margin-left: 10px;
    margin-top: 10px;
    background: #ffffff;
    border: thin solid #aaaaaa;
}
h1 {
    font-family: "Helvetica", sans-serif;
    font-size: 52px;
	color: white;
	padding-left:20px;
	padding-right:20px;
}
h2
{
    font-family: "Helvetica", sans-serif;
    font-size: 70px;
	color: white;
}
.picButton {
	-moz-box-shadow:inset 8px -10px 5px #7F8C8D  ;
	-webkit-box-shadow:inset 8px -10px 5px #7F8C8D  ;
	box-shadow:inset 8px -10px 5px #7F8C8D  ;
	background-color: #E5E8E8;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #424949;
	display:inline-block;
	color:#000000;
	font-family:Arial;
	font-size: 40px;
	font-weight: bold;
	width: 48vw;
	height: 32vh;
	text-decoration:none;
	background-size:28vh;
	background-repeat: no-repeat;
	background-position: 20px 10px;
	margin-top: 5px;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
	text-align: middle;
	outline: none;
}